<div class="d-flex flex-column flex-shrink-0 p-3 bg-light position-fixed top-0 start-0 h-100 me-2" style="width: 280px;">
    <br><br><br><br>
    <ul class="nav nav-pills flex-column mb-auto gap-2">
      <li>
        <a href="/" class="nav-link dashboard" aria-current="page">
          <i class="bi bi-graph-up"></i>&ensp; Dashboard
        </a>
      </li>
      <li>
        <a href="/view" class="nav-link upload">
          <i class="bi bi-cloud-arrow-up"></i>&ensp; Uploads
        </a>
      </li>
      <li>
        <a href="/clients" class="nav-link client">
          <i class="bi bi-person-vcard-fill"></i>&ensp; Clients
        </a>
      </li>
      <li>
        <a href="/user" class="nav-link user">
          <i class="bi bi-people-fill"></i>&ensp; Users
        </a>
      </li>
    </ul>
    <hr>
    <div class=" d-flex align-items-center link-dark text-decoration-none">
        <strong>Admin</strong>
      </a>
    </div>
  </div>
  <style>
    .nav-link {
        color: black;
    }
  </style>