<%- include("partials/header"); -%>
<body style="padding: 5% 20%;">

    <h1>Filmmoz</h1>
    <hr>
    <br>
    <form action="/login" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginid">Login Id:</label>
          <input type="text" id="loginid" name="loginid" class="form-control" required />
          <br>
          <label class="form-label" for="password">Password:</label>
          <input autocomplete="off" type="password" id="password" name="password" class="form-control" required />
        </div>
        <br>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-md px-5">Login</button>
      
      </form>

<%- include("partials/footer"); -%>
</html>