<%- include("partials/header"); -%>
<body style="padding: 2% 10%;">
<section>
    <div class="col">
      <div class="row">
        <h3 class="col-4 text-danger"><strong>New client</strong></h3>
        <a class="col-8 d-flex justify-content-end" href="/clients"> <button class="btn btn-light btn-lg"><i class="bi bi-x-lg"></i></button></a>
      </div>
        <br>
        <% if(trigger == 1) { %> 
          <p style="color: red;">Already Exist!</p>
        <% } %> 
        <form id="client-form" action="/newclient" method="post" enctype='multipart/form-data'>
            <div class="mb-3 col-6">
                <label for="name" class="form-label">Name :</label>
                <input type="text" class="form-control" name="name" placeholder="Name" required>
            </div>
            <div class="mb-3 col-6">
                <label for="Contact" class="form-label">Contact :</label>
                <input type="number" class="form-control" name="contact" placeholder="Contact" required>
            </div>
            <div class="mb-3 col-6">
                <label for="email" class="form-label">Email :</label>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="mb-3 col-6">
              <label for="Aadhar" class="form-label">Aadhar card :</label>
              <input type="file" class="form-control" name="Aadhar" placeholder="Aadhar card" required>
            </div>
            <div class="mb-3 col-6">
              <label for="Pan" class="form-label">Pan card :</label>
              <input type="file" class="form-control" name="Pan" placeholder="Pan card" required>
            </div>

                <button id="submit" class="btn btn-outline-dark col-1" type="submit"> Submit</button>
                <button class="btn btn-danger col-1 mx-5"><a class="text-light" style="text-decoration: none;" href="/clients"> Cancel</a></button>
              </div>
        </form>
        <br>
    </div>
  </section>
  <%- include("partials/footer"); -%>