<%- include("partials/header"); -%>
<section>
    <div class="col">
        <h3> <strong>Upload Movie</strong> </h3>
        <br>
        <form action="/upload" method="post" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="title" class="col-3 col-form-label">Movie Title:</label> 
                <div class="col-9">
                  <input id="title" name="title" placeholder="Movie Title" type="text" required="required" class="form-control">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="producer" class="col-3 col-form-label">Producer:</label> 
                <div class="col-9">
                  <input id="producer" name="producer" placeholder="Movie Producer" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="director" class="col-3 col-form-label">Director:</label> 
                <div class="col-9">
                  <input id="director" name="director" placeholder="Movie Director" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="actor" class="col-3 col-form-label">Actor:</label> 
                <div class="col-9">
                  <input id="actor" name="actor" placeholder="Actors Name" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="story" class="col-3 col-form-label">Story:</label> 
                <div class="col-9">
                  <textarea id="story" name="story" cols="40" rows="4" class="form-control" required="required"></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="language" class="col-3 col-form-label">Language:</label> 
                <div class="col-9">
                  <input id="language" name="language" placeholder="Language" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="category">Category:</label> 
                <div class="col-9">
                  <select id="category" name="category" class="custom-select" required="required">
                    <option value="action">Action</option>
                    <option value="drama">Drama</option>
                    <option value="comedy">Comedy</option>
                    <option value="romance">Romance</option>
                    <option value="horror">Horror</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="client" class="col-3 col-form-label">Client:</label> 
                <div class="col-9">
                  <input id="client" name="client" placeholder="Client Name" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="cost" class="col-3 col-form-label">Cost:</label> 
                <div class="col-9">
                  <input id="cost" name="cost" placeholder="Cost" type="text" class="form-control" required="required">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="file">Select Movie:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="vid" id="vid" required="true"/>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="img">Select Thumbnail:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="img" id="img" required="true"/>
                </div>
              </div>
                <br>
                <button class="btn btn-outline-dark" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"> Submit</button>


                <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Uploading</h5>
                      </div>
                      <div class="modal-body">
                        <br><br><br>
                        <div class="d-flex justify-content-center">
                          <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                        <br><br><br>
                      </div>
                    </div>
                  </div>
                </div>
        </form>
        <br>

    </div>
  </section>
  <%- include("partials/footer"); -%>