<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles/styles.css" type="text/css">
  <title>Upload</title>
</head>
<body style="padding: 2% 10%;">
  <div class="load" style="position: fixed; visibility: hidden;">
    <img src="assets/loading.gif" alt="">
  </div>
  <script>
    document.onreadystatechange = function() {
      if (document.readyState == "loading") {
        document.querySelector(".load").style.visibility = "visible";
      }
    };

  </script>
<section>
    <div class="col">
      <div class="row">
        <h3 class="col-4 text-danger"><strong>Upload Movie</strong></h3>
        <a class="col-8 d-flex justify-content-end" href="/view"> <button class="btn btn-light btn-lg"><i class="bi bi-x-lg"></i></button></a>
      </div>
        <br>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
              <div class="form-group row">
                <label for="title" class="col-3 col-form-label">Movie Title:</label> 
                <div class="col-9">
                  <input id="title" name="title" placeholder="Movie Title" type="text" required="required" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="producer" class="col-3 col-form-label">Producer:</label> 
                <div class="col-9">
                  <input id="producer" name="producer" placeholder="Movie Producer" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="director" class="col-3 col-form-label">Director:</label> 
                <div class="col-9">
                  <input id="director" name="director" placeholder="Movie Director" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="actor" class="col-3 col-form-label">Actor:</label> 
                <div class="col-9">
                  <input id="actor" name="actor" placeholder="Actors Name" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="story" class="col-3 col-form-label">Story:</label> 
                <div class="col-9">
                  <textarea id="story" name="story" cols="40" rows="4" class="form-control" required="true"></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="language" class="col-3 col-form-label">Language:</label> 
                <div class="col-9">
                  <select class="form-select" aria-label="Default select example" required="true" name="language">
                    <option selected>Open this select menu</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Marathi">Marathi</option>
                    <option value="English">English</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="category">Category:</label> 
                <div class="col-9">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Action" id="action">
                    <label class="form-check-label" for="action">Action</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Drama" id="drama">
                    <label class="form-check-label" for="drama">Drama</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Comedy" id="comedy">
                    <label class="form-check-label" for="comedy">Comedy</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Horror" id="horror">
                    <label class="form-check-label" for="horror">Horror</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="category" value="Adventure" id="adventure">
                    <label class="form-check-label" for="adventure">Adventure</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="client" class="col-3 col-form-label">Client:</label> 
                <div class="col-9">
                  <input id="client" name="client" placeholder="Client Name" type="text" class="form-control" required="true">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="file">Select Movie:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="vid" id="vid" required="true" accept="video/*, .mkv"/>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="img">Select Thumbnail:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="img" id="img" required="true" accept="image/*"/>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="img">Select Trailer:</label>
                <div class="col-9">
                    <input type="file" class="form-control" name="trailer" id="trailer" required="true" accept="video/*, .mkv"/>
                </div>
              </div>
                <br>
                <button class="btn btn-outline-dark col-1" type="submit"> Submit</button>
                <button class="btn btn-danger col-1 mx-5"><a class="text-light" style="text-decoration: none;" href="/view"> Cancel</a></button>
                </div>
        </form>
        <br>

        
    </div>
  </section>
  <%- include("partials/footer"); -%>