body{
    padding: 7% 10%;
}

.edit{
    transition: all 0.3s;
    cursor: pointer;
}
.edit:hover{
    transform: scale(1.2);
}
.info{
    transition: all 0.3s;
    cursor: pointer;
}
.info:hover{
    transform: scale(1.2);
}
.delete{
    transition: all 0.3s;
    cursor: pointer;
}
.delete:hover{
    transform: scale(1.2);
}
.disabler{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.3;
    visibility: hidden;
}